<!-- ========================
sticky-header.html
========================= -->

<header class="header">
  <img (click)="onNavigate('top')" class="logo"
    src="/img/sticky-header/christoph.webp" alt="Christoph">

  <button class="menu-btn only-mobile"
    (click)="toggleMenu()" [class.open]="isMenuOpen()">
    <div class="hamburger-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </button>

  <div class="menu-wide only-wide">
    @for (section of visibleSections; track section.id) {
    <a (click)="onNavigate(section.id)" class="text-link">
      {{ section.title }}
    </a>
    }
  </div>
</header>

<nav class="sidebar only-mobile"
  [class.active]="isMenuOpen()">
  <ul>
    @for (section of visibleSections; track section.id) {
    <li (click)="onNavigate(section.id)">
      {{ section.title }}
    </li>
    }
  </ul>
</nav>

@if (isMenuOpen()) {
<div class="backdrop only-mobile" (click)="toggleMenu()">
</div>
}