<!-- ========================
sticky-header.html
========================= -->

<header class="header">
  <a class="logo" (click)="onNavigate('top')">Christoph</a>

  <button class="menu-btn only-mobile" (click)="toggleMenu()"
    [class.open]="isMenuOpen()">
    <div class="hamburger-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </button>

  <div class="menu-wide only-wide">
    @for (section of visibleSections; track section.id) {
    <a (click)="onNavigate(section.id)">
      {{ section.title }}
    </a>
    }
  </div>
</header>

<nav class="sidebar only-mobile" [class.active]="isMenuOpen()">
  <ul>
    @for (section of visibleSections; track section.id) {
    <li (click)="onNavigate(section.id)">
      {{ section.title }}
    </li>
    }
  </ul>
</nav>

@if (isMenuOpen()) {
<div class="backdrop only-mobile" (click)="toggleMenu()"></div>
}