/* =========================
skills-section.scss
========================= */

:host {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
        url('https://cdn.pixabay.com/photo/2017/09/28/13/05/billiards-2795435_960_720.jpg');
    background-size: cover;
    background-position: center;
}