/* =========================
skills-section.scss
========================= */

@use '../../../styles/mixins' as mixins;

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 2 * var(--padding-body));
    padding: var(--header-height) var(--padding-body) var(--padding-body) var(--padding-body);
    @include mixins.general-padding;

    @media (min-width: 1280px) {
        padding-top: 100px;
    }
}

.light-blue-fog {
    position: absolute;
    left: 0;
    bottom: -150px;
    width: 150px;
}