/* =========================
hero-section.scss
========================= */

.img-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('/img/hero/photo-shadows.webp');
    background-position: center;
    background-size: cover;

    &__christoph {
        width: 100%;
    }

    &__arch {
        width: 100%;
        position: absolute;
        bottom: -166px;
    }
}