/* =========================
hero-section.scss
========================= */

.hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('/img/hero/photo-shadows.webp');
    background-position: center;
    background-size: cover;

}

.img-christoph {
    width: 100%;
}

.img-arch {
    width: 100%;
    position: absolute;
    bottom: -158px;
}