/* =========================
about-me-section.scss
========================= */

@use '../../../styles/mixins' as mixins;

:host {
    position: relative;
    width: calc(100% - 2 * var(--padding-body));
    padding: var(--header-height) var(--padding-body) var(--padding-body) var(--padding-body);
    @include mixins.general-padding;

    @media (min-width: 1280px) {
        padding-top: 100px;
    }
}

.blue-fog {
    position: absolute;
    right: 0;
    top: -50px;
    width: 150px;
    z-index: -10;
    pointer-events: none;

    @media (min-width: 1024px) {
        right: 68px;
    }

    @media (min-width: 1280px) {
        right: 168px;
    }
}

.about-me-container {
    flex: 1;

    @media (min-width: 600px) {
        display: flex;
    }
}

.about-me-text {
    padding-right: 16px;

    @media (min-width: 1280px) {
        width: 50%;
        padding-right: 40px;
    }
}

p {
    margin: 8px 0;
}

.bullets-row {
    display: flex;
    align-items: center;
}

.svg-container {
    width: 60px;
    display: flex;
    justify-content: center;
}

h3 {
    font-weight: 400;
    margin: 8px 0 0 16px;
}

ul {
    margin-top: 4px;
}

.about-me-img {
    display: none;

    @media (min-width: 920px) {
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 40px;
        margin-bottom: 200px;

        img {
            width: 300px;
            border-radius: 50%;
            border: 4px solid var(--secondary-color);
            background-color: var(--main-bg-color);
        }

        .horizontal-line {
            z-index: -10;
            position: absolute;
            top: 50%;
            right: -20px;
            transform: translateY(-50%);
            width: 300px;
            border: 2px solid var(--secondary-color);

            @media (min-width: 1280px) {
                width: 500px;
            }
        }
    }

    @media (min-width: 1024px) {
        padding-right: 70px;

        img {
            width: 400px;
        }
    }

    @media (min-width: 1200px) {
        padding-right: 70px;

        img {
            width: 453px;
        }
    }

    @media (min-width: 1280px) {
        width: 40%;
    }
}