/* =========================
portfolio-section-01.scss
========================= */

:host {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
        url('https://cdn.pixabay.com/photo/2020/06/09/19/09/shares-5279686_1280.jpg');
    background-size: cover;
    background-position: center;
}