/* =========================
styles.scss
========================= */

@font-face {
  font-family: 'Poppins';
  src: url("/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'Material Icons Rounded';
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/material-design-icons/sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190Fjzag.woff2");
}

body {
  margin: 0;
  color: #FFF;
  font-family: Poppins;
  background-color: #141d2f;
}

.snap-section-base {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  height: 100dvh;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  isolation: isolate;
  position: relative;
}

.vertical-text {
  display: inline-block;
  transform: rotate(-90deg);
}