/* =========================
styles.scss
========================= */

body {
  margin: 0;
}

.snap-section-base {
  display: flex;
  min-height: 100dvh;
  height: 100dvh;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  isolation: isolate;
  position: relative;
}

.short-layout {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}